@-webkit-keyframes aparecer{
    0% {
        opacity : 0;
    }
    100% {
        z-index : 22;
        opacity : 1;
    }
}
@-webkit-keyframes moverBox {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
     
    55% {
        opacity: 0;
        transform: translateX(-1000px);
        -webkit-transform: translateX(-1000px);
    }
    
    60% {
        opacity: 0;
        transform: translateX(1000px);
        -webkit-transform: translateX(1000px);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}